<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">
    <display-name>InterfaceEcole</display-name>
    <servlet>
        <servlet-name>ControleurPrincipal</servlet-name>
        <servlet-class>com.crea.dev1.jee.ecole.interf.control.ControleurPrincipal</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControleurPrincipal</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet>
    <servlet-name>show</servlet-name>
    <jsp-file>/views/eleves/show.jsp</jsp-file>
    </servlet>
    <servlet>
    <servlet-name>add</servlet-name>
    <jsp-file>/views/eleves/add.jsp</jsp-file>
    </servlet>
    <servlet>
    <servlet-name>edit</servlet-name>
    <jsp-file>/views/eleves/edit.jsp</jsp-file>
    </servlet>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list> 
</web-app>